/* General Container */
.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 10%;
  position: relative;
  background: linear-gradient(
    135deg,
    var(--color-primary) 50%,
    var(--color-background) 40%
  );
  height: 100vh; /* Ensure the hero section takes full screen height */
  flex-wrap: wrap; /* Allow items to wrap in smaller screens */
}

.heroText {
  color: #ffffff;
  max-width: 50%;
  flex: 1;
}

.heroText h1 {
  font-size: var(--font-size-xxl);
  font-weight: bold;
  color: #ffd700; /* Gold color for strong contrast */
}

.heroText p {
  font-size: var(--font-size-base);
  margin-top: 1rem;
  color: #ffd700; /* Gold color for strong contrast */
  opacity: 0.9;
}

.ctaButton {
  background-color: var(--color-accent);
  color: var(--color-surface);
  font-size: var(--font-size-lg);
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.ctaButton:hover {
  background-color: var(--color-highlight);
  color: var(--color-text);
}

.heroIcons {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-right: 2rem;
}

.icon {
  font-size: 10rem;
  color: var(--color-primary);
}

/* Teste Grátis Section */
.testSection {
  padding: 4rem 10%;
  text-align: center;
  background: linear-gradient(
    135deg,
    var(--color-primary) 80%,
    var(--color-background) 20%
  );
  height: 100vh; /* Ensure the section has full height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testSection h2 {
  font-size: var(--font-size-xl);
  color: #ffd700;
  font-weight: bold;
}

/* Planos Section */
.planosSection {
  padding: 4rem 10%;
  text-align: center;
  background: linear-gradient(
    135deg,
    var(--color-primary) 80%,
    var(--color-background) 20%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.planosContent {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.planosContent h1 {
  font-size: var(--font-size-xxl);
  font-weight: bold;
  color: #ffd700;
}

.featuresList {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  align-self: center;
}

.featuresList li {
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
}

.featuresList li .checkIcon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

/* Contato Section */
.contatoSection {
  padding: 4rem 10%;
  text-align: center;
  background: linear-gradient(
    135deg,
    var(--color-primary) 80%,
    var(--color-background) 20%
  );
  height: 100vh; /* Ensure the contact section takes full screen height */
}

.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  gap: 1.5rem;
}

.contactForm label {
  font-weight: bold;
}

.contactForm input,
.contactForm textarea {
  padding: 1rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  transition: border 0.3s ease;
}

.contactForm input:focus,
.contactForm textarea:focus {
  border-color: var(--color-primary);
}

.contactForm button {
  background-color: var(--color-accent);
  color: var(--color-surface);
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactForm button:hover {
  background-color: var(--color-highlight);
}

.contactFormRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.submitButton {
  background-color: var(--color-accent);
  color: var(--color-surface);
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--color-highlight);
}

/* Mobile View Adjustments */
@media (max-width: 1024px) {
  .hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
  }

  .heroText {
    max-width: 100%;
  }

  .heroIcons {
    max-width: 100%;
    margin-top: 2rem;
    justify-content: center;
  }

  .icon {
    font-size: 3rem;
  }

  .testSection h2 {
    font-size: var(--font-size-lg);
  }

  .planosSection {
    height: 100vh; /* Ensure the contact section takes full screen height */
  }

  .planosContent h1 {
    font-size: var(--font-size-xl);
  }

  .featuresList li {
    font-size: var(--font-size-base);
  }

  .contactForm {
    gap: 1.2rem;
  }

  .contactForm input,
  .contactForm textarea {
    font-size: 0.9rem;
  }

  .contactFormRow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* Adjust for mobile in Contato section */
  .contatoSection {
    height: 100vh; /* Ensure the contact section takes full screen height */
  }
}
