/** @format */

.container {
  padding: 20px;
  background-color: var(--color-background);
  border-radius: 8px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.searchInput {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--color-muted-text);
  border-radius: 8px;
  color: var(--color-text);
  font-size: 16px;
  background-color: var(--color-surface);
}

.searchButton {
  padding: 10px;
  background-color: var(--color-primary);
  color: var(--color-surface);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
}

.searchButton:hover {
  background-color: #005bb5;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: var(--color-surface);
  border-radius: 8px;
  overflow: hidden;
}

.table thead {
  background-color: var(--color-primary);
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table th {
  color: var(--color-surface);
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 10px;
  width: 10%;
  justify-content: center;
}

.editIcon {
  color: var(--color-primary);
  cursor: pointer;
}

.noData {
  text-align: center;
  padding: 20px;
  font-size: var(--font-size-md);
  color: var(--color-muted-text);
}

.createButton {
  padding: 10px 20px;
  background-color: var(--color-secondary);
  color: var(--color-surface);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.createButton:hover {
  background-color: #008c66;
}
